<h3>{{ title }}</h3>
<nav>
    <ul id="queries">
    {% for query in queries %}
            <li><a href="{{ path('search') }}?s[q]={{ query | url_encode() }}" title="{{ query }} images" >{{ query }}</a></li>
    {% endfor %}
    </ul>
</nav>