{% extends 'FrontendBundle::layout.html.twig' %}
{% block body %}
{% for image in images %}
{% if loop.index <= 68 %}
{% if loop.index <= 8 %}
{% if loop.index % 4 == 1%} <div class="row"> {% endif %}
    <div class="span3">        
        <p><img src="{{ image.url }}" alt="{{ image.name }}" width="270"/></p>
        <p>{{ loop.index }}.- {{ image.name }},  Rating {{ image.rating }} Licence: CC author:daniel.gonzalez provider {{ image.provider }}</p>
    </div>
{% if loop.index % 4 == 0%} </div> {% endif %}
{% else %}
{% if (loop.index -8 )% 6 == 1%} <div class="row"> {% endif %}
    <div class="span2">
        <p><img src="{{ image.url }}" alt="{{ image.name }}" width="170"/></p>
        <p>Rating {{ image.rating }} Licence: CC author:daniel.gonzalez provider {{ image.provider }}</p>
    </div>
{% if (loop.index -8 )% 6 == 0%} </div> {% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% endblock %}