<article>
    <p>
        <a href="" class="flickr" title="{{ image.name }}">
            <img data-original="{{ image.url }}"  alt="{{ image.name }}" class=""
                 src="{{ image.url }}"  rel="shadowbox" />        
        </a>
    </p>
    <ul class="links">
        <li><a href="{{ image.url }}" title="{{ image.name }}" class="fancybox">Preview </a></li>
        <li><a href="{{ path('view', {'provider' : 'f', 'hash' : image.id, 'description' : 'not-implemented' }) }}" title="{{ image.name }}">View</a></li>
    </ul> 
</article>