<p>
    <a href="{{ image.url }}" class="fancybox flickr" title="pending ... ">
        <img data-original="{{ image.url }}"  alt="{{ image.name }}" class=""
             src="{{ asset('bundles/frontend/images/loading.gif') }}"  rel="shadowbox" />        
    </a>
</p>
<p>{{ loop.index }}.- {{ image.name }},  Rating {{ image.rating }} Licence: CC author:daniel.gonzalez provider {{ image.provider }}</p>