<article>
    <p>
        <a href="{{ path('view', {'provider' : 'f', 'hash' : image.id, 'description' : image.slug }) }}" class="flickr" title="{{ image.name }}">
            <img data-original="{{ image.url }}"  alt="{{ image.name }}" class=""
                 src="{{ asset('bundles/frontend/images/loading.gif') }}"  rel="shadowbox" />        
        </a>
    </p>
    <ul class="links">
        <li><a href="{{ image.url }}" title="{{ image.name }}" class="fancybox">Preview </a></li>
    </ul> 
</article>